@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.gift-card {
  border: 10px solid transparent;
  border-image: url(border.png) 30 round;
  width: 90%;
  margin: 100px auto;
  border-radius: 10px;

}

.gift-card p {
  background: linear-gradient(
    to left,
    yellow 10%,
    tomato 20%,
    #5485d0 50%,
    #64f380 60%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500%;
  animation: textShine 3s ease-in-out infinite alternate;
  font-size: 64px;
  font-family: "Pacifico", cursive;
  text-align: center;
}

@keyframes textShine {
  100% {
    background-position: 100% 50%;
  }
}

@media screen and (max-width: 680px){
    .gift-card{
        width: 90%;
 
    }

    .gift-card p{
        font-size: 44px;
      
    }
}
